@charset "utf-8";
/*font,button,input style 등 공통 사용 스타일과 layout style*/

/* main font */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/*all page style */
body { font-family: 'Pretendard', sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; letter-spacing: -0.025em; color: #200C05; }
section { padding-top: 80px; }
.center_inner { width: 100%; max-width: 1400px; margin: 0 auto; }


/* z-index */
header { z-index: 200; }
header .menu_wrap { z-index: 202 }
header.menu_bg { z-index: 201 }
header .sub_menu { z-index: 203; }

.modal { z-index: 400; }
.modal_set.bg::after { z-index: 300; }


/* font style */
b { font-weight: 600; }

.font_d1 { font-weight: 700; font-size: 64px; line-height: 72px; }
.font_d2 { font-weight: 600; font-size: 48px; line-height: 64px; }
.font_d3 { font-weight: 600; font-size: 40px; line-height: 56px; }

.font_h1 { font-weight: 700; font-size: 32px; line-height: 48px; }
.font_h2 { font-weight: 700; font-size: 28px; line-height: 40px; }
.font_h3 { font-weight: 600; font-size: 24px; line-height: 36px; }
.font_h4 { font-weight: 400; font-size: 24px; line-height: 36px; }

.font_title1 { font-weight: 700; font-size: 20px; line-height: 32px; }
.font_title2 { font-weight: 400; font-size: 20px; line-height: 32px; }
.font_title3 { font-weight: 600; font-size: 18px; line-height: 28px; }

.font_b1 { font-weight: 400; font-size: 18px; line-height: 28px; }
.font_b2 { font-weight: 600; font-size: 16px; line-height: 24px; }
.font_b3 { font-weight: 400; font-size: 16px; line-height: 24px; }
.font_b4 { font-weight: 600; font-size: 14px; line-height: 20px; }
.font_b5 { font-weight: 400; font-size: 14px; line-height: 20px; }

.font_c1 { font-weight: 400; font-size: 12px; line-height: 16px; }

.text_blue { color: #0280E1; }
.text_blue2 { color: #0077D3; }
.text_red { color: #ED4848;}
.text_gray { color: #999999; }

.bold_text { font-weight: 600; }
.right_text { text-align: right; }

/*btn color*/
.yellow_btn { background-color: #FED15E; font-weight: 600; }
.black_line_btn { border: 1px solid #200C05; }
.black_btn { background-color: #191919; color: #ffffff!important; font-weight: 600; }
.gray_btn { background-color: #F2F2F2; color: #999999; }
.gray_line_btn { border: 1px solid #DDD; }

/*input style*/
input { font-weight: 400; font-size: 16px; line-height: 24px; color: #191919; font-family: 'Pretendard', sans-serif; }
input:focus { outline: none; }
input::placeholder { color: #999; }
select { width: 100%; height: 48px; padding: 0 12px; border: 1px solid #DDD; border-radius: 4px; appearance: none; background-image: url("../images/icon_down.png"); background-repeat: no-repeat; background-size: 24px; background-position: right 12px center; }
select:focus { outline: none; }
select[disabled] { background-color: #F2F2F2; }
textarea { font-family: 'Pretendard', sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; letter-spacing: -0.025em; }
textarea:focus { outline: none; }
textarea::placeholder { color: #999; }

/*input_error_set*/
.input_error_set .caption { margin-top: 4px; color: #767676; font-weight: 400; font-size: 12px; line-height: 16px; }
.input_error_set.error_on .caption { display: none; }
.input_error_set .error_message { margin-top: 4px; color: #ED4848; font-weight: 400; font-size: 12px; line-height: 16px; display: none; }
.input_error_set.error_on .error_message { display: block!important; }
.input_error_set.error_on input { border: 1px solid #ED4848; }
.input_error_set.error_on .input_clear_set { border: 1px solid #ED4848; }
.input_error_set.error_on select { border: 1px solid #ED4848; }

.input_error_set .pass_message { margin-top: 4px; color: #3888FD; font-weight: 400; font-size: 12px; line-height: 16px; display: none; }
.input_error_set.pass_on .pass_message { display: block!important; }
.input_error_set.pass_on .caption { display: none; }

/*input_clear_set*/
.input_clear_set { width: 100%; height: 48px; padding: 0 12px; border-radius: 4px; border: 1px solid #DDD; display: flex; align-items: center; gap: 8px; }
.input_clear_set > input { width: 100%; height: 100%; border: none!important; }
.input_clear_set .clear_btn { width: 24px; height: 24px; flex-shrink: 0; display: none; align-items: center; justify-content: center; }
.input_clear_set .clear_btn > img { width: 100%; }
.input_clear_set .view_btn { width: 24px; height: 24px; flex-shrink: 0; align-items: center; justify-content: center; }
.input_clear_set .view_btn > img { width: 100%; }

.input_clear_set > input:focus ~ .clear_btn { display: flex; }

.input_clear_set .view_btn > img:nth-child(1) { display: block; }
.input_clear_set .view_btn > img:nth-child(2) { display: none; }
.input_clear_set .view_btn.on > img:nth-child(1) { display: none; }
.input_clear_set .view_btn.on > img:nth-child(2) { display: block; }

/*checkbox_set*/
.checkbox_set { display: flex; align-items: center; gap: 4px; cursor: pointer; }
.checkbox_set input { display: none; }
.checkbox_set span { width: 20px; }
.checkbox_set span > img { width: 100%; }
.checkbox_set span > img:nth-child(1) { display: block; }
.checkbox_set span > img:nth-child(2) { display: none; }
.checkbox_set input:checked + span > img:nth-child(1) { display: none; }
.checkbox_set input:checked + span > img:nth-child(2) { display: block; }
.checkbox_set input:disabled + span > img { display: none; }
.checkbox_set input:disabled + span { width: 16px; height: 16px;  border: 1px solid #E0E0E0; border-radius: 4px; }
.checkbox_set:has(input:disabled) { color: #999999; }

/*radio_btn_set*/
.radio_btn_set { display: flex; align-items: center; gap: 4px; cursor: pointer; }
.radio_btn_set input { display: none; }
.radio_btn_set span { width: 20px; }
.radio_btn_set span > img { width: 100%; }
.radio_btn_set span > img:nth-child(1) { display: block; }
.radio_btn_set span > img:nth-child(2) { display: none; }
.radio_btn_set input:checked + span > img:nth-child(1) { display: none; }
.radio_btn_set input:checked + span > img:nth-child(2) { display: block; }
.radio_btn_wrap { display: flex; flex-wrap: wrap; align-items: center; gap: 8px 24px; }



.border_none { border: none!important; }


/*############ header ############*/
header { width: 100%; height: 80px; padding: 0 40px; position: fixed; top: 0; left: 0; display: flex; align-items: center; }
header.scrolled { background-color: #ffffff; transition: 0.3s; }

header .logo_wrap { margin-right: 100px; }
header .logo_wrap a { width: 110px; display: flex; align-items: center; justify-content: center; }
header .logo_wrap a > img { width: 100%; }

header .menu_wrap > ul { display: flex; gap: 48px; }
header .menu_wrap > ul > li { position: relative; }

/*main_menu*/
header .menu_wrap > ul > li > .main_menu { font-weight: 600; font-size: 18px; line-height: 24px; position: relative; cursor: pointer; }
header .menu_wrap > ul > li > .main_menu.on::after { content: ''; width: 100%; height: 2px; background-color: #FED15E; display: block; position: absolute; z-index: 1; }

/*sub_menu*/
header .menu_wrap > ul > li .sub_menu { width: 180px; padding: 8px 0; border-radius: 12px; background-color: #ffffff; box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.04); position: absolute; top: 120%; overflow: hidden; display: none; }
header .menu_wrap > ul > li .sub_menu > a { padding: 10px 24px; color: #999; font-weight: 600; display: block; }
header .menu_wrap > ul > li .sub_menu > a:hover { background-color: #F8F8F8; transition: 0.3s; }
header .menu_wrap > ul > li .sub_menu > a.on { color: #191919; }
header .menu_wrap > ul > li .sub_menu.open { display: block; }

/*login_wrap*/
header .login_wrap { font-weight: 400; font-size: 14px; line-height: 20px; margin-left: auto; display: flex; align-items: center; }
header .login_wrap .login_btn { padding: 0 16px; }
header .login_wrap .join_btn { height: 32px; padding: 0 16px; border-radius: 16px; background-color: #200C05; color: #ffffff; display: flex; align-items: center; justify-content: center; }

/*my_menu_wrap*/
header .my_menu_wrap { margin-left: auto; display: flex; align-items: center; gap: 16px; }
header .my_menu_wrap .my_news_set { color: #000000; display: flex; align-items: center; gap: 8px; position: relative; }
header .my_menu_wrap .my_news_set .bell_btn { width: 24px; display: flex; align-items: center; justify-content: center; }
header .my_menu_wrap .my_news_set .bell_btn > img { width: 100%; }
header .my_menu_wrap .logout_btn { height: 32px; padding: 0 16px; border-radius: 16px; border: 1px solid #191919; font-weight: 400; font-size: 14px; line-height: 20px; }

/*news_box*/
header .my_menu_wrap .my_news_set .news_box { width: 90vw; max-width: 518px; height: 720px; max-height: 90vh; padding: 24px; overflow: scroll; border-radius: 12px; border: 1px solid #DDD; background: #FFF; position: absolute; right: 80%; top: 100%; display: none; -ms-overflow-style: none; scrollbar-width: none; }
header .my_menu_wrap .my_news_set .news_box::-webkit-scrollbar { display: none; }
header .my_menu_wrap .my_news_set .news_box.on { display: block; }

header .my_menu_wrap .my_news_set .news_box .title_close_wrap { margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between; }
header .my_menu_wrap .my_news_set .news_box .title_close_wrap .tit { font-weight: 600; font-size: 24px; line-height: 36px; }
header .my_menu_wrap .my_news_set .news_box .title_close_wrap .close_btn { width: 24px; display: flex; align-items: center; justify-content: center; }
header .my_menu_wrap .my_news_set .news_box .title_close_wrap .close_btn > img { width: 100%; }

header .my_menu_wrap .my_news_set .news_box .total_tab_wrap { padding-bottom: 24px; border-bottom: 1px solid #DDD; }
header .my_menu_wrap .my_news_set .news_box .total_tab_wrap .total { margin-bottom: 16px; }
header .my_menu_wrap .my_news_set .news_box .total_tab_wrap > ul { display: flex; gap: 8px; }
header .my_menu_wrap .my_news_set .news_box .total_tab_wrap > ul > li { height: 32px; padding: 0 16px; border-radius: 16px; border: 1px solid #DDD; display: flex; align-items: center; justify-content: center; font-weight: 400; font-size: 14px; line-height: 20px; cursor: pointer; }
header .my_menu_wrap .my_news_set .news_box .total_tab_wrap > ul > li.on { background-color: #200C05; color: #ffffff; border: none;}

header .my_menu_wrap .my_news_set .news_box .news_list_wrap { max-height: 500px; overflow: scroll; }
header .my_menu_wrap .my_news_set .news_box .news_list_wrap > ul > li > * { width: 100%; padding: 24px 0; border-bottom: 1px solid #DDD; display: flex; align-items: center; gap: 8px; }
header .my_menu_wrap .my_news_set .news_box .news_list_wrap .icon_image { width: 40px; height: 40px; border-radius: 50%; border: 1px solid #DDD; flex-shrink: 0; display: flex; align-items: center; justify-content: center; }
header .my_menu_wrap .my_news_set .news_box .news_list_wrap .icon_image > img { width: 80%; }
header .my_menu_wrap .my_news_set .news_box .news_list_wrap .text { width: 100%; display: flex; flex-direction: column; gap: 4px; }
header .my_menu_wrap .my_news_set .news_box .news_list_wrap .text > div { display: flex; align-items: center; justify-content: space-between;}
header .my_menu_wrap .my_news_set .news_box .news_list_wrap .text .date { color: #999; font-weight: 400; font-size: 14px; line-height: 20px; }

header .my_menu_wrap .my_news_set .news_box .news_list_wrap > ul > li.off > * { color: #999; }

/*mobile_menu*/
header .mobile_menu_btn { display: none; }
header .menu_wrap .mobile_close_btn { display: none; }
header .menu_bg { display: none; }




/*############ footer ############*/
footer { width: 100%; height: 64px; padding: 0 40px; background-color: #191919; color: #ffffff; display: flex; align-items: center; }

footer .logo { width: 72px; margin-right: 24px; display: flex; align-items: center; justify-content: center; }
footer .logo > img { width: 100%; }
footer .copyright { font-weight: 400; font-size: 12px; line-height: 16px; }
footer .btn_wrap { margin-left: auto; display: flex; gap: 24px; }
footer .btn_wrap > * { color: #ffffff; font-weight: 400; font-size: 12px; line-height: 16px; }
footer .btn_wrap > *:nth-child(1) { font-weight: 600; }



/*############ sub top ############*/
/*sub_address_set*/
.sub_address_set { display: flex; align-items: center; justify-content: flex-end; gap: 4px;}
.sub_address_set > * { height: 20px; display: flex; align-items: center; }
.sub_address_set > * > img { width: 20px; margin-right: 4px; }

.sub_address_set > *::after { content: ''; width: 16px; height: 16px; margin-left: 4px; background-image: url("../images/icon_right2.png"); background-size: 16px 16px; background-repeat: no-repeat; background-position: center; }
.sub_address_set > *:last-child::after { display: none;}


/*my_company_set*/
.my_company_set { padding: 20px 0; display: flex; align-items: flex-end; justify-content: space-between; }
.my_company_set .company_name { margin-bottom: 8px; font-weight: 600; font-size: 20px; line-height: 32px; display: flex; align-items: center; gap: 4px; }
.my_company_set .company_name > img { width: 24px;}
.my_company_set .page_name { font-weight: 600; font-size: 36px; line-height: 48px; }
.my_company_set .add_btn { height: 48px; padding: 0 16px; border-radius: 4px; background-color: #FED15E; display: flex; align-items: center; justify-content: center; gap: 4px; font-weight: 600; }
.my_company_set .add_btn > img { width: 20px; }



@media screen and (max-width:1400px) { 
    .center_inner { padding: 0 4%; }

    /*############ header ############*/
    header .logo_wrap { margin-right: 0; }

    header .menu_wrap { width: 280px; height: 100vh; max-height: 100vh; position: fixed; top: 0; right: -280px; background-color: #FED15E; }
    header .menu_wrap.open { right: 0; transition: 0.3s; }
    header .menu_bg.open { width: 100vw; height: 100vh; display: block; background-color: rgba(0,0,0,0.4); position: fixed; top: 0; left: 0; }
    header .menu_wrap > ul { flex-direction: column; gap: 0; }

    /*main_menu*/
    header .menu_wrap > ul > li > .main_menu { padding: 18px 16px; display: block; }
    header .menu_wrap > ul > li > .main_menu.on::after { display: none; }

    /*sub_menu*/
    header .menu_wrap > ul > li .sub_menu { width: 100%; padding: 0; border-radius: 0; position: relative; top:0; left: 0;}

    /*mobile_menu*/
    header .menu_wrap .mobile_close_btn { width: 32px; margin: 16px 16px 40px auto; display: flex; align-items: center; justify-content: center; }
    header .menu_wrap .mobile_close_btn > img { width: 100%; }

    header .mobile_menu_btn { width: 32px; margin-left: 12px; display: flex; align-items: center; justify-content: center; }
    header .mobile_menu_btn > img { width: 100%; }

}

@media screen and (max-width:820px) {
    body { font-weight: 400; font-size: 14px; line-height: 20px; }
    section { padding-top: 56px; }

    /*input style*/
    input { font-weight: 400; font-size: 14px; line-height: 20px; }

    /*############ header ############*/
    header { height: 56px; padding: 0 4%; }
    header .logo_wrap a { width: 90px; }

    header .menu_wrap > ul > li > .main_menu { font-size: 16px;}

    header .mobile_menu_btn { width: 24px; margin-left: 8px; }
    header .menu_wrap .mobile_close_btn { width: 24px; }

    /*my_menu_wrap*/
    header .my_menu_wrap { gap: 4px; font-weight: 400; font-size: 12px; line-height: 16px; }
    header .my_menu_wrap .my_news_set { gap: 4px; }
    header .my_menu_wrap .my_news_set .bell_btn { width: 20px; }
    header .my_menu_wrap .logout_btn { height: 24px; padding: 0 12px; font-weight: 400; font-size: 12px; line-height: 16px; }

    /*############ footer ############*/
    footer { height: auto; padding: 24px 4%; flex-wrap: wrap; justify-content: center; gap: 8px 0; }
    footer .btn_wrap { width: 100%; justify-content: center; }

    /*############ sub top ############*/
    .my_company_set .company_name { margin-bottom: 4px; font-weight: 600; font-size: 16px; line-height: 24px; }
    .my_company_set .page_name { font-weight: 600; font-size: 24px; line-height: 36px; }
    .my_company_set .add_btn { height: 36px; }
}

@media screen and (max-width:580px) { 

}

@media screen and (max-width:420px) {
    .my_company_set .add_btn { padding: 0 8px; font-weight: 600; font-size: 12px; line-height: 16px;  }
}